<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-lg-12">
      <br>
        <h1 class="page-header">
          GoBus <small>- Seu tempo em suas mãos</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-home"></i>  Painel de Controle
          </li>
        </ol>
    </div>
  </div>

 <div class="row">
    <div class="col-lg-12">
      	<div class="panel panel-default">
        	<div class="panel-heading">
          		<h3 class="panel-title"><i class="fa fa-fw fa-map-marker"></i> Ônibus</h3>
        	</div>
        	<div id="conteudo-form" class="text-center panel-body">
				<p>
				  <strong>Placa:</strong>
				  <%= @onibus.placa %>
				</p>

				<p>
				  <strong>Ativo:</strong>
				  <% if @onibus.ativo == true %>
            Sim
          <% else %>
            Não
          <% end %>
        </p>
        
				<%= link_to 'Editar', edit_onibus_path(@onibus), :class => "btn btn-success", :method => :get  %>
				<%= link_to 'Voltar', onibuses_path, :class => "btn btn-warning", :method => :get  %>
        </div>
    	</div>
    </div>
</div>